body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(240, 242, 245);
}

header{
    position: sticky;
    top: 0;
}

#blueBar {
    background-color: #3c5a99;
}

#headerProfile{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    height: 70px;
    color: rgb(255, 255, 255); 
}
#headerProfile #logo{
    grid-column: 1;
    grid-row: 1;

    font-size: 45px;
    font-weight: bold;

}
#headerProfile #search{
    grid-column: 2;
    grid-row: 1;
    margin-left: 10px;
    text-align: center;
}
#profileImage a, #headerProfile a{
    text-decoration: none;
    color: white;
}
#searchBox {
    width: 160px;
    height: 30px;
    border-radius: 15px;
    border: none;
    font-size: 14px;
    text-align: center;
}

#headerProfile #profileImage{
    grid-column: 3;
    grid-row: 1;

    margin-left: 10px;
    margin-top: 3px;
    text-align: right;
}
#headerProfile img{
    width: 55px;
    border-radius: 50%;
}

#imageButton{
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-color: white;
    border-radius: 50%;
    width: 32px; 
    height: 32px;
    position: relative;
    left: -3px;
    top:-5.5px;
    
}


@media(min-width: 810px){
    #headerProfile {
        max-width: 1280px;
        margin: auto;
    }

    #searchBox {
        width: 400px;
    }

    #backgroundCover{
        background-color: white;
    }
    #coverArea {
        width: 1280px;
        min-height: 400px;
        margin: auto;        
        text-align: center;
        color: rgb(126, 128, 131);
    }
    #coverPhoto {
        width: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        height:430px;
    }
    #profilePhoto{
        width: 180px;
        margin-top: -200px;
        border-radius: 50%;
        border: solid 5px white;
        height:200px;
    }

    #menuButtons{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        align-items: center;

        font-size: 21px;
        font-weight: bold;
    }
    #menuButtons #timeline{
        grid-column: 1;
        grid-row: 1;
    }
    #menuButtons #about{
        grid-column: 2;
        grid-row: 1;
    }
    #menuButtons #friends{
        grid-column: 3;
        grid-row: 1;
    }
    #menuButtons #photos{
        grid-column: 4;
        grid-row: 1;
    }
    #menuButtons #settings{
        grid-column: 5;
        grid-row: 1;
    }
    #menuButtons #timeline:hover, #about:hover, #friends:hover, #photos:hover, #settings:hover{
        color: rgb(24, 118, 242);
        border-bottom: solid 2px rgb(24, 118, 242);
    }

    #profileName {
        font-size: 30px;
        font-weight: bold;
        color: rgb(5, 5, 5);
    }

    #bodyProfile {
        width: 1280px;
        margin: auto;        
        text-align: center;

        margin-top: 20px;

        display: grid;
        grid-template-columns: 1fr 1.5fr;
    }
    #bodyProfile #leftContent{
        grid-column: 1;
        grid-row: 1;
    }
    #bodyProfile #rightContent {
        grid-column: 2;
        grid-row: 1;

        margin-left: 10px;
    }

    /*-----------------------------------------------------Left Contents*/
    #leftContent #friendsArea{
        background-color: white;
        margin-right: 10px;
        padding-bottom: 20px;
        border-radius: 8px;
    }
    #leftContent #friendsArea #friendsBar{
        display: grid;
        grid-template-columns: 1fr max-content;
        
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #friendsBar #title{
        grid-column: 1;
        grid-row: 1;
        text-align: left;
        
        font-weight: bold;
        font-size: 25px;
        padding: 10px;
    }
    #friendsBar #title:hover{
        text-decoration: underline;
    }
    #friendsBar #seeAll{
        grid-column: 2;
        grid-row: 1;
        text-align: right;

        color: rgb(24, 118, 242);
        font-size: 22px;
        padding: 10px;
    }
    #friendsBar #seeAll:hover{
        background-color: rgb(242, 242, 242);
        border-radius: 8px;
    }

    #leftContent #friendsArea #friendsList{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;

        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #friendsList #friendImg{
        width: 140px;
        height: 140px;
        border-radius: 10px;
    }

    #friend {
        padding-top: 10px;
    }
    #friendName{
        font-weight: bold;
    }

    #reference {
        color: rgb(101, 103, 107);
        float: left;
        margin-top: -5px;
        font-size: 22px;
    }
    #reference #referenceList {
        display: grid;
        grid-template-columns: max-content max-content max-content max-content;
    }
    #referenceList #privacy{
        grid-column: 1;
        grid-row: 1;
    }
    #referenceList #terms{
        grid-column: 2;
        grid-row: 1;
        margin-left: 30px;
    }
    #referenceList #advertising{
        grid-column: 3;
        grid-row: 1;
        margin-left: 30px;
    }
    #referenceList #more{
        grid-column: 4;
        grid-row: 1;
        margin-left: 30px;
    }
    #privacy:hover, #terms:hover, #advertising:hover, #more:hover {
        text-decoration: underline;
    }
    /*-----------------------------------------------------Right Contents*/
    #postForm {
        background-color: white;
        border-radius: 8px;
        height: 210px;

        display: grid;
        grid-template-rows: 1fr 1fr;
    }
    textarea{

        height: 135px;
        border: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 22px;

        border-radius: 8px;
        border: none;

        margin-top: 0px;
        margin-left: 5px;
        margin-right: 5px;
    }
    #file {
        margin-left: 10px;
    }

    #postButton {

        margin-left: 10px;
        margin-right: 10px;
        border-radius: 8px;
        background-color: rgb(24, 119, 242);
        color: white;

        font-size: 22px;
        height: 40px;
        border: none;
        margin-top: 10px;
        text-align: center;
    }
    #postButton:hover {
        background-color: rgb(23,113,230);
    }

    #postBackground {
        margin-top: 20px;
        background-color: white;
        border-radius: 8px;
        padding: 10px;
    }
    #userBar {
        display: grid;
        grid-template-columns: max-content max-content;
    }
    #userBar #userImg {
        grid-column: 1;
        grid-row: 1/3;
    }
    #userBar #userName {
        grid-column: 2;
        grid-row: 1;
        text-align: left;
        font-size: 22px;
        font-weight: bold;
        margin-left: 10px;
        margin-top: 5px;
    }
    #userBar #date {
        grid-row: 2;
        grid-column: 2;
        margin-left: 10px;
        margin-bottom: 5px;
        font-size: 18px;
        color: rgb(113, 115, 107);
    }
    #postBackground #userBar img {
        width: 75px;
        border-radius: 50%;
    }
    #postContent {
        margin-top: 10px;
        text-align: left;
    }
    #postContent #post{
        font-size: 20px;
        margin-bottom:-20px;
    }
    #postContent #image{
        text-align: center;
        margin-bottom:-20px;
    }
    #postContent #image img{
        width: 380px;
        height: auto;
    }
}